extends layout
block links
  link(rel='stylesheet', href='register.css')
block content
  // User registration form
  form.centred-form(action='/registration', method='post', style='margin: 50px 400px 185px 400px;', enctype='multipart/form-data', autocomplete='on')
    .container
      h3(style='text-align: center; margin: 10px 0px 5px 0px;') User Registration
      p(style='text-align: center;') Please register your details.
       br
      // User's name and details
      .row
        .col-sm-6.form-group
          label(for='fname')
            b First Name
          input.form-control(type='text', placeholder="First name", name='fname')
        .col-sm-6.form-group
          label(for='lname')
            b Last Name
          input.form-control(type='text', placeholder="Last name", name='lname')
      .row
        .col-sm-6.form-group
          label
            b Username
          input(type='text', placeholder='Enter username', name='username')
        .col-sm-6.form-group
          label(for='password')
            b Password
          input(type='password', placeholder='Enter password', name='password')
      // Cancel or submit
      .clearfix
        button.cancelbtn(type='button') Cancel
        button.signupbtn(type='submit') Submit
      .row
        .col-sm-6.form-group
          a(href='/login', style='padding-left: 0px;') Login
        .col-sm-6.form-group
          a(href='/home', style='padding-left: 235px;') Home Page
