doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= mySiteName
    block links
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    block scripts
        script(src='https://kit.fontawesome.com/b739b1d7cd.js', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  body
    // Navigation bar
    nav.navbar.navbar-expand-sm.navbar-dark.justify-content-end(style=style)
      // Links
      ul.navbar-nav
        li.nav-item
          a.nav-link
        // Dropdown lists
        li.nav-item.dropdown
          a#navbardrop.nav-link.dropdown-toggle
          .dropdown-menu
            a.dropdown-item
      // Login button right-aligned
      button.btn.btn-default.ml-auto.mr-1
    // Sections
    .container-fluid
      h2
        .row
            .column
                .card
                    img.mx-auto.d-block
                    .container
                        h3
                        p
    // Footer section
    footer.container-fluid.bg-light-blue.text-center
      p
    // Link to JavaScript
    script