/* Styles for container and card */
.container .card {
  background-color: rgb(246, 246, 246); 
  margin-top: 25px;
}

.card i {
 margin-right:5px;
}

button[type=submit] {
  background: rgb(32, 100, 226); 
  color: rgb(255, 255, 255);
 }

/* Styles for 'Customer Details' part of the order form */
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

/***************************
** Styles for shopping cart
****************************/
/* Global "table" column settings */
.product-image { float: left; width: 15%; }
.product-details { float: left; width: 15%; }
.product-time { float: left; width: 15%; }
.product-price { float: left; width: 15%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 15% }
.product-line-price { float: left; width: 10%; text-align: left; }

/* .clearfix for different classes */
.shopping-cart:before, .column-labels:before, .product:before, .totals-item:before {
  content: '';
  display: table;
  zoom: 1;
}

.shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}

/* Apply UGX signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: 'UGX ';
}

/* Body and header settings */
body {
  padding: 0px 30px 30px 20px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

label {
  color: #aaa;
}

/* Column headers */
.column-labels label {
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #eee;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product.product-image {
    text-align: center;
}
.product-image > img {
  width: 40%;
  height: 40%;
  padding-left: 10px;
}
 .product.product-details.product-title {
  margin-right: 20px;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
.product.product-details.product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product.product-quantity input {
    width: 40px;
}
.product.remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    font-size: 12px;
    border-radius: 3px;
}
.product.remove-product:hover {
    background-color: #a44;
}

/* Totals section */
.totals.totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals-item label {
  float: left;
  clear: both;
  width: 75%;
  text-align: right;
}   
.totals-value {
  float: right;
  width: 15%;
  text-align: left;  
}
.totals.totals-item-total {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}

.checkout, .refresh {
  float: right;
  width: 15%;
  border: 0;
  margin: 20px 10px;
  padding: 6px 25px;
  background-color: rgb(102, 187, 102);
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
}

.checkout:hover {
  background-color: rgb(68, 153, 68);
}

.refresh {
  background-color: rgb(138, 131, 131);
}

.refresh:hover {
  background-color: rgb(105, 100, 100);
  color: #fff;
  text-decoration: none;
}

.submit-order {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: rgb(32, 66, 192); 
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
}

.submit-order:hover {
  background-color: rgb(43, 95, 190); 
}

.btn-group {
    display: block; 
    text-align: right; 
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  
  .column-labels {
    display: none;
  }
  
  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }
  
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .product-price {
    clear: both;
    width: 70px;
  }
  
  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
      margin-left: 20px;
    }
  
  .product-quantity:before {
    content: 'x';
  }
  
  .product-removal {
    width: auto;
  }
  
  .product-line-price {
    float: right;
    width: 70px;
  } 
}

/* Make adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }
  
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  
  .product .product-line-price:before {
    content: 'Item Total: UGX ';
  }
  
  .totals.totals-item label {
    width: 60%;
  }
      
  .totals.totals-item.totals-value {
    width: 40%;
  }
}