doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Stay Clean - Community Hygiene Made Easy
  // Include Bootstrap files from a CDN
  // Link to Bootstrap compiled and minified CSS
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  // Link to Fontawesome icons
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://kit.fontawesome.com/b739b1d7cd.js', crossorigin='anonymous')
  // Link jQuery library
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  // Link to Popper JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  // Link to Bootstrap compiled JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  // Link to my custom CSS stylesheet
  link(rel='stylesheet', href='/StayClean/public/scleanRegister.css')
body
  // 1st navigation bar
  nav.navbar.navbar-expand-sm.navbar-dark.justify-content-end(style='background-color: rgb(32, 100, 226);')
    // Links
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/StayClean/public/scleanMain.html') Home
      li.nav-item
        a.nav-link(href='/StayClean/public/scleanAbout.html') About
      li.nav-item
        a.nav-link(href='#') Contact
      // Dropdown lists
      li.nav-item.dropdown
        a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Register
        .dropdown-menu
          a.dropdown-item(href='/StayClean/public/registerCustomer.html') Customer
          a.dropdown-item(href='/StayClean/public/registerDriver.html') Driver
          a.dropdown-item(href='/StayClean/public/registerConductor.html') Conductor
      li.nav-item.dropdown
        a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Services
        .dropdown-menu
          a.dropdown-item(href='#') Waste Collection
          a.dropdown-item(href='#') Sewage Collection
    // Login button
    button.btn.btn-default.ml-auto.mr-1(style='background-color: rgb(255, 255, 255); color: rgb(32, 100, 226); margin:0px 40px 0px 0px; width:65px;', type='submit')
      a(href='/StayClean/public/scleanLogin.html') Login
  // Driver registration form
  form.centred-form(action='#', method='post', style='margin: 50px 400px 120px 400px;')
    .container
      h3(style='text-align: center; margin: 10px 0px 5px 0px;') Driver Registration
      p(style='text-align: center;') Enter driver&apos;s details.
      br
      // Driver's name
      .row
        .col-sm-6.form-group
          label(for='fname')
            b First Name
          input.form-control(type='text', placeholder="Driver's First Name", name='fname', required='')
        .col-sm-6.form-group
          label(for='lname')
            b Last Name
          input.form-control(type='text', placeholder="Driver's Last Name", name='lname', required='')
      // Driver's date of birth and gender
      .row
        .col-sm-6.form-group
          label(for='dob')
            b Date of Birth
          input.form-control(type='text', placeholder="Driver's Date of Birth", name='dob', required='')
        .col-sm-6.form-group
          label(for='gender', style='margin-bottom: 15px;')
            b Gender
          br
          label
            input(type='checkbox', name='fgender', value='')
            |  Female
          label
            input(type='checkbox', name='mgender', value='')
            |  Male
      // Driver's national identification, vehicle registration details
      .row
        .col-sm-6.form-group
          label(for='n_id')
            b National ID
          input.form-control(type='text', placeholder="Driver's National ID", name='n_id', required='')
        .col-sm-6.form-group
          label(for='vreg')
            b Vehicle Registration
          input.form-control(type='text', placeholder="Driver's Vehicle Registration", name='vreg', required='')
      // Driver's residence details
      .row
        .col-sm-12.form-group
          label(for='residence')
            b Residence
          input.form-control(type='text', placeholder="Driver's Residence", name='residence', required='')
      // Select type of driver's performance to be evaluated.
      .row
        .col-sm-6.form-group
          label(for='dperf')
            b Driver&apos;s Performance
          br
          select(name='dperf')
            option(value='') Select:
            option(value='accidents') Accidents
            option(value='fights') Fights
            option(value='theft') Theft
            option(value='other') Other Misconduct
          textarea.form-control(name='ddetails', placeholder="Details of driver's performance", rows='5', style='margin-top: 10px;')
        .col-sm-6.form-group
          .row(style='margin-top: 50px;')
            button.cancelbtn(type='button', onclick="document.getElementById('id01').style.display='none'", style='width:50%; float: right; margin-left: 150px;') Cancel
          .row
            button.signupbtn(type='button', style='width:50%; float: right; margin-left: 150px;') Submit
  // Footer section
  footer.container-fluid.bg-light-blue.text-center(style='padding: 5px; bottom: 0;')
    p
      | &copy; 
      a(href='scleanMain.html', style='color: rgb(187, 204, 236); font-size: 15px; text-align: center;') 2021 Stay Clean