doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Stay Clean - Community Hygiene Made Easy
  // Include Bootstrap files from a CDN
  // Link to Bootstrap compiled and minified CSS
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  // Link to Fontawesome icons
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='https://kit.fontawesome.com/b739b1d7cd.js', crossorigin='anonymous')
  // Link jQuery library
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  // Link to Popper JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  // Link to Bootstrap compiled JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  // Link to my custom CSS stylesheet
  link(rel='stylesheet', href='/StayClean/public/scleanRegister.css')
body
  // 1st navigation bar
  nav.navbar.navbar-expand-sm.navbar-dark.justify-content-end(style='background-color: rgb(32, 100, 226);')
    // Links
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/StayClean/public/scleanMain.html') Home
      li.nav-item
        a.nav-link(href='/StayClean/public/scleanAbout.html') About
      li.nav-item
        a.nav-link(href='#') Contact
      // Dropdown lists
      li.nav-item.dropdown
        a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
          | Register
        .dropdown-menu
          a.dropdown-item(href='/StayClean/public/registerCustomer.html') Customer
          a.dropdown-item(href='/StayClean/public/registerDriver.html') Driver
          a.dropdown-item(href='/StayClean/public/registerConductor.html') Conductor
      li.nav-item.dropdown
        a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Services
        .dropdown-menu
          a.dropdown-item(href='#') Waste Collection
          a.dropdown-item(href='#') Sewage Collection
    // Login button
    button.btn.btn-default.ml-auto.mr-1(style='background-color: rgb(255, 255, 255); color: rgb(32, 100, 226); margin:0px 40px 0px 0px; width:65px;', type='submit')
      a(href='/StayClean/public/scleanLogin.html') Login
  // User form details
  form.centred-form(action='/action_page.php', method='post')
    h3(style='text-align: center; margin: 10px 0px 0px 0px;') Login Form
    .container
      label(for='uname')
        b Username
      input(type='text', placeholder='Enter Username', name='uname', required='')
      label(for='psw')
        b Password
      input(type='password', placeholder='Enter Password', name='psw', required='')
      button(type='submit')
        a(href='#')
        | Login
      label
        input(type='checkbox', checked='checked', name='remember')
        |  Remember me
    .container-footer
      button.cancelbtn(type='button') Cancel
      span.psw(style='color: rgb(30, 144, 255);')
        a(href='//StayClean/public/registerCustomer.html') Create an account
  // Footer section
  footer.container-fluid.bg-light-blue.text-center(style='padding: 5px; bottom: 0;')
    p
      | &copy; 
      a(href='scleanMain.html', style='color: rgb(187, 204, 236); font-size: 15px; text-align: center;') 2021 Stay Clean