extends staycleanLayout.pug
block links
  link(rel='stylesheet', href='scleanRegister.css')
block content
  // User form details
  form.centred-form(action='#', method='post')
    h3(style='text-align: center; margin: 10px 0px 0px 0px;') Login Form
    .container
      label(for='uname')
        b Username
      input(type='text', placeholder='Enter Username', name='uname')
      label(for='psw')
        b Password
      input(type='password', placeholder='Enter Password', name='psw')
      button(type='submit')
        a(href='#')
        | Login
      label
        input(type='checkbox', checked='checked', name='remember')
        |  Remember me
    .container-footer
      button.cancelbtn(type='button') Cancel
      span.psw(style='color: rgb(30, 144, 255);')
        a(href='/customer') Create an account
  // Footer section
  footer.container-fluid.bg-light-blue.text-center(style='padding: 5px; bottom: 0;')
    p
      | &copy; 
      a(href='/main', style='color: rgb(187, 204, 236); font-size: 15px; text-align: center;') 2021 Stay Clean