/* * * * * * * 
** Global CSS 
* * * * * * */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Logo class style */
.logo {
  font-size: 200px;
}

/* * * * * * * 
** Parallax scrolling CSS 
* * * * * * */

.bgimg {
  background-image: url("/StayClean/public/images/garbage_trucks_inline.jpeg");

  position: relative;
 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 600px; /*100%; 450px;*/
  height: 100vh;
  /* image-rendering: optimizeQuality; */
}

.bgimg .transbox  {
  
  margin: 0;
  padding: 0;
  text-align: center;

  font-size: 72px;
  font-weight: bold;

  /* Position the background text */
  position: absolute;

  /* Flush left */
  left: 0;

  /* At the bottom. Use top:0 to append it to the top */
  bottom: 0;

  /* Fallback color */
  background: rgb(0, 0, 0); 

  /* Black background with 0.5 opacity */
  background: rgba(0, 0, 0, 0.5); 
 
  /* Grey text */
  color: rgb(241, 241, 241); 

  /* Width and height */
  width: 100%;
  height: 250px;
}

/* Container styles */
.container-fluid {
  padding: 60px 50px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* Styles for containers with different background colours */
.bg-light-blue {
  padding:50px 80px;
  background-color:rgb(32, 100, 226);
  color: rgb(187, 204, 236); /*rgb(246, 246, 246);*/
}

.bg-grey {
  background-color: rgb(246, 246, 246);
}

/* * * * * * * 
** Row, column, card, section and form styles
* * * * * * */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Card style */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/* Section style */
.about-section {
  padding: 60px 80px;
  text-align:center;
  background-color: rgb(32, 100, 226);
  color: rgb(187, 204, 236);;
}

/* Title and button styles */
.title {
  color: rgb(128, 128, 128);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(32, 100, 226);
  text-align: center;
  cursor: pointer;
  width: 300px; /* 100% */
}

.button:hover {
  background-color: rgb(85, 85, 85);
  /* opacity: 0.8; */
}

.card p {
  text-align: center;
}
/* @media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
} */

/* * * * * * *
** Testimonial CSS 
* * * * * * */

* {box-sizing: border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;

  background: rgba(241, 241, 241, 0.945);

   /* Fallback color with opacity*/
   /* background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.75);  */
}

/* Slides */
.mySlides {
  display: none;
  padding: 40px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(136, 136, 136);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit of see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: rgb(255, 255, 255);
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 5px;
  background: rgb(221, 221, 221);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: rgb(113, 113, 113);
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: rgb(32, 100, 226);}