/* * * * * * * 
** Global CSS 
* * * * * * */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Logo class style */
.logo {
  font-size: 200px;
}

/* Container styles - with padding */
.container-fluid {
  padding: 60px 50px;
}

.container {
  padding: 16px;
  background-color: rgba(241, 241, 241, 0.945);
}

.container-footer {
  padding: 0px 16px;
  position:absolute;
  left: 400px;
  width: inherit;
  background-color: rgba(241, 241, 241, 0.945);
}

/* Styles for containers with different background colours */
.bg-light-blue {
  background-color:rgb(32, 100, 226);
  color: rgb(187, 204, 236);
}

/* * * * * * * 
** Form styles
* * * * * * */
form {
  border: 3px solid #f1f1f1;
}

/* Centre form in middle of page */
.centred-form {
  width: 50%; 
  height: 50%;
  margin: 50px 400px 255px 400px;
  background-color: rgba(241, 241, 241, 0.945);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgb(32, 100, 226);
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(138, 131, 131);
}

/* Float cancel and signup buttons and define button width */
.cancelbtn {
  float: left;
  width: 25%;
}

.signupbtn {
  float: right;
  width: 25%;
}

/* Clear floats to place form buttons side-by-side */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

span.password {
  float: right;
  padding-top: 16px;
}
